@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap"); /* Poppin font  */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap"); /* Comfortaa font*/

* {
  font-family: "Poppins", sans-serif;
  font-family: "Comfortaa", cursive;
}

/* Start Modal Area  */

/* End Modal Area  */

/* Start navbar  */

#navbar {
  box-shadow: 0 5px 10px rgb(238, 238, 238);
  position: relative;
}

@media (max-width: 768px) {
}

.menucss {
  background: none;
  border: none;
}

.menucss:focus {
  box-shadow: none;
}

.inputboxcss {
  padding: 1px 10px;
}

.inputboxcss .searchinputcss {
  width: 0;
  display: none;
  pointer-events: none;
  border: none;
  outline: none;
}

.inputboxcss .searchinputcss.active {
  width: auto;
  display: inline;
  pointer-events: all;
}

.inputboxcss i {
  cursor: pointer;
}

.profilecss button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.notiiconcss {
  text-decoration: none;
}

/* End navbar  */
