@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap"); /* Poppin font  */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap"); /* Comfortaa font*/

* {
  font-family: "Poppins", sans-serif;
  font-family: "Comfortaa", cursive;
}

/* Start Modal Area  */

/* End Modal Area  */

/* Start navbar  */

#navbar {
  box-shadow: 0 5px 10px rgb(238, 238, 238);
  position: relative;
}

.menucss {
  background: none;
  border: none;
}

.menucss:focus {
  box-shadow: none;
}

.inputboxcss {
  display: flex;
  align-items: center;
  padding: 1px 10px;
}

.inputboxcss .searchinputcss {
  width: 0;
  transform: scale(0);
  pointer-events: none;
  border: none;
  outline: none;
}

.inputboxcss .searchinputcss.active {
  width: auto;
  transform: scale(1);
  pointer-events: all;
}

@media (max-width: 768px) {
  .inputboxcss .searchinputcss.active {
    width: 100px;
  }
}

.inputboxcss #searchbtn {
  font-size: 25px;
  cursor: pointer;
}

#username {
  color: var(--bs-dark);
  text-decoration: none;
  padding: 0 20px;
}

#username:hover {
  cursor: default;
  background: none;
}

.profilecss button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.profilepiccss {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  #dropdown-menu {
    left: -120px;
  }
}

.notiiconcss {
  color: var(--bs-dark);
  text-decoration: none;
}

/* End navbar  */
